<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8" />
    <title>图书管理系统-借阅信息</title>

    <script src="../../js/vue.js"></script>
    <script src="../../js/axios.js"></script>
    <script src="../../element-ui/lib/index.js"></script>

    <link rel="stylesheet" href="../../element-ui/lib/theme-chalk/index.css">

    <style>
        #work_space {
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding: 20px;
            margin-bottom: 10px;
        }

        #data_table {
            padding: 0 20px;
        }

        .el-table {
            margin-top: 20px;
        }

        .el-table-column {
            text-align: center;
        }

        /* 调整表格操作按钮的显示 */
        .el-button {
            margin: 5px;
        }

        /* 隐藏横向滚动条 */
        .el-scrollbar__wrap {
            overflow-x: hidden !important;
        }
    </style>

</head>

<body>
    <div id="app">
        <!-- 搜索框区域 -->
        <div id="work_space">
            <el-input v-model="input" placeholder="请输入内容"></el-input>

            <el-select v-model="choice" placeholder="请选择">
                <el-option v-for="item in options" :key="item.value" :label="item.label" :value="item.value">
                </el-option>
            </el-select>

            <el-button type="primary" @click="search(input)">搜索</el-button>
        </div>


        <template>
            <!-- 数据表格区域 -->
            <div id="data_table">
                <el-scrollbar style="height: 600px;" @scroll="handleScroll">
                    <el-table :data="borrow_overview" style="width: 100%">
                        <el-table-column prop="bookName" label="书名" align="center">
                        </el-table-column>

                        <el-table-column prop="bid" label="书号" align="center">
                        </el-table-column>

                        <el-table-column prop="userName" label="姓名" align="center">
                        </el-table-column>

                        <el-table-column prop="uid" label="用户ID" align="center">
                        </el-table-column>

                        <el-table-column prop="borrowDate" label="借阅时间" align="center">
                        </el-table-column>

                        <el-table-column prop="dueDate" label="截止时间" align="center">
                        </el-table-column>

                        <el-table-column prop="status" label="状态" align="center">
                        </el-table-column>

                        <el-table-column prop="operation" label="操作" align="center">
                            <template slot-scope="scope">
                                <div>
                                    <el-button v-if="scope.row.status === '借阅中'" type="primary" round
                                        @click="return_book(scope.row.bid,scope.row.uid,scope.row.borr)">
                                        归还
                                    </el-button>

                                    <el-button v-if="scope.row.status === '已归还'" type="info" round disabled>
                                        借阅
                                    </el-button>
                                </div>
                            </template>
                        </el-table-column>
                    </el-table>

                </el-scrollbar>

            </div>
        </template>
    </div>
</body>

<script>
    new Vue({
        el: "#app",
        data() {
            return {
                input: "",
                choice: "bookName",
                options: [{
                    value: "bookName",
                    label: "按书名搜索"
                }, {
                    value: "bid",
                    label: "按书号搜索"
                }, {
                    value: "userName",
                    label: "按用户姓名搜索"
                }, {
                    value: "uid",
                    label: "按用户ID搜索"
                },],
                borrow_overview: [],
            }
        },
        methods: {
            query_all() {
                _this = this;

                axios.get(
                    "/Borrow/queryAllBorrowOverview"
                ).then(resp => {
                    if (resp.data.code === 1) {
                        _this.borrow_overview = resp.data.data.map(item => ({
                            bookName: item.bookName,
                            bid: item.bid,
                            userName: item.userName,
                            uid: item.uid,
                            borrowDate: _this.formatTimestamp(item.borrowDate),
                            dueDate: _this.formatTimestamp(item.dueDate),
                            status: item.status
                        }));
                    }
                })
            },

            query_by_bookName(input) {
                _this = this;

                axios.get(
                    "/Borrow/queryBorrowOverviewByBookName" + "?bookName=" + input
                ).then(resp => {
                    if (resp.data.code === 1) {
                        _this.borrow_overview = resp.data.data.map(item => ({
                            bookName: item.bookName,
                            bid: item.bid,
                            userName: item.userName,
                            uid: item.uid,
                            borrowDate: _this.formatTimestamp(item.borrowDate),
                            dueDate: _this.formatTimestamp(item.dueDate),
                            status: item.status
                        }));
                    }
                })
            },

            query_by_bid(input) {
                _this = this;

                axios.get(
                    "/Borrow/queryBorrowOverviewByBid" + "?bid=" + input
                ).then(resp => {
                    if (resp.data.code === 1) {
                        _this.borrow_overview = resp.data.data.map(item => ({
                            bookName: item.bookName,
                            bid: item.bid,
                            userName: item.userName,
                            uid: item.uid,
                            borrowDate: _this.formatTimestamp(item.borrowDate),
                            dueDate: _this.formatTimestamp(item.dueDate),
                            status: item.status
                        }));
                    }
                })
            },

            query_by_userName(input) {
                _this = this;

                axios.get(
                    "/Borrow/queryBorrowOverviewByUserName" + "?userName=" + input
                ).then(resp => {
                    if (resp.data.code === 1) {
                        _this.borrow_overview = resp.data.data.map(item => ({
                            bookName: item.bookName,
                            bid: item.bid,
                            userName: item.userName,
                            uid: item.uid,
                            borrowDate: _this.formatTimestamp(item.borrowDate),
                            dueDate: _this.formatTimestamp(item.dueDate),
                            status: item.status
                        }));
                    }
                })
            },

            query_by_uid(input) {
                _this = this;

                axios.get(
                    "/Borrow/queryBorrowOverviewByUid" + "?uid=" + input
                ).then(resp => {
                    if (resp.data.code === 1) {
                        _this.borrow_overview = resp.data.data.map(item => ({
                            bookName: item.bookName,
                            bid: item.bid,
                            userName: item.userName,
                            uid: item.uid,
                            borrowDate: _this.formatTimestamp(item.borrowDate),
                            dueDate: _this.formatTimestamp(item.dueDate),
                            status: item.status
                        }));
                    }
                })
            },

            search(input) {
                if (input === "") {
                    this.query_all();
                } else {
                    var choice = this.choice;

                    if (choice === "bookName") {
                        this.query_by_bookName(input);
                    } else if (choice === "bid") {
                        this.query_by_bid(input);
                    } else if (choice === "userName") {
                        this.query_by_userName(input);
                    } else if (choice === "uid") {
                        this.query_by_uid(input);
                    }
                }
            },

            return_book(bid, uid, borrowDate) {
                var returnDate = Date.now();
                _this = this;

                axios.post(
                    "/Borrow/returnBook",
                    {
                        bid: bid,
                        uid: uid,
                        borrowDate: _this.dateString2Timestamp(borrowDate),
                        returnDate: returnDate
                    }
                ).then(resp => {
                    if (resp.data.code === 1) {
                        _this.$message.success("归还成功");
                        _this.query_all();
                    } else {
                        _this.$message.error("归还失败");
                    }
                })
            },

            formatTimestamp(timestamp) {
                // 将传入的 Timestamp 转换为 Date 对象
                const date = new Date(timestamp);

                // 获取年月日时分秒
                const year = date.getFullYear();
                const month = String(date.getMonth() + 1).padStart(2, '0'); // 月份从0开始，所以要加1
                const day = String(date.getDate()).padStart(2, '0');

                // 自动根据时区进行解析
                const hours = String(date.getHours()).padStart(2, '0');
                const minutes = String(date.getMinutes()).padStart(2, '0');
                const seconds = String(date.getSeconds()).padStart(2, '0');

                // 拼接成需要的格式，不包括毫秒和时区
                return `${year}-${month}-${day} ${hours}:${minutes}:${seconds}`;
            },

            dateString2Timestamp(dateString) {
                const date = new Date(dateString);
                const timestamp = date.getTime();

                return timestamp;
            },

            init_data() {
                this.query_all();
            }

        },
        created() {
            var token = localStorage.getItem("token");
            axios.defaults.headers.common['token'] = token;

            this.init_data();
        }
    })
</script>

</html>