<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="BookManageSystem.mapper.AdminMapper">
    <resultMap id="Admin" type="BookManageSystem.pojo.Admin">
        <id column="aid" property="aid"/>
        <result column="passwd" property="passwd"/>
    </resultMap>
</mapper>